@font-face {
  font-family: Jost;
  src: url(../fonts/Jost/Jost-VariableFont_wght.ttf);
}

@font-face {
  font-family: Jost;
  src: url(../fonts/Jost/Jost-Italic-VariableFont_wght.ttf);
  font-style: italic;
}