:root {
  --theme-primary-color: #fca120;
  --theme-secondary-color: #001d4a;

  --theme-body-bg-color: #fbfcdd;
  --theme-border-color: rgba(0, 0, 0, 0.08);
}

* {
  box-sizing: border-box;
  transition: all 0.25s ease-in-out;

  font-family: Jost;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--theme-body-bg-color);
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999; 
}


.shadow {
  box-shadow: 3px 3px 3px 0px #a5a2a2;
}


.badge {
  padding: 4px 10px;
  color: white;
  font-size: smaller;

  border-radius: 8px;

  &.OPEN        { background-color: #1aa2b4; }
  &.PENDING     { background-color: #0738cd; }
  &.DELIVERY    { background-color: #a05119; }
  &.CONFIRMED   { background-color: #17b922; }
  &.DISPUTTED   { background-color: #cd2507; }
  &.REFUNDED    { background-color: #c52da2; }
  &.WITHDRAWED  { background-color: #9ccd07; }
}

.flex-center {
  display: flex;
  justify-content: center;
}