@import "./fonts";
@import "./global";

//Components
@import './components/header.scss';
@import './components/escrow_info.scss';
@import './components/use_escrow.scss';

// Pages
@import './pages/escrow.scss';


.item {
  border: 1px dashed gray;
  padding: 10px;
  margin: 5px;
}